doctype html
html
  head 
    meta(charset='UTF-8')
    meta(name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no")
    link(href="https://api.mapbox.com/mapbox-gl-js/v3.9.4/mapbox-gl.css" rel="stylesheet")
    script(src="https://api.mapbox.com/mapbox-gl-js/v3.9.4/mapbox-gl.js")

    link(rel='stylesheet' href='/css/style.css')
    link(rel='shortcut icon' type='image/png' href='/img/favicon.png')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')
  
    title Natours | #{title}
  body
    //HEADER
    include _header
    //MAIN 
    block content 
      h1 This is a placeholder heading 
    //FOOTER
    include _footer
    script(type="module" src='/js/mapbox.js')
